<!DOCTYPE html>
<html>
  <head>
    <title>Timeline</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <div class="jumbotron text-center">
      <h1>Timeline Elcoma</h1>
      <p>1º Etapa do processo de Estágio - Desenvolvimento de Aplicação</p>
    </div>
  </head>

  <body>
    <%= yield %>
  </body>

  <footer class="footer">
    <div class="container">
      <p class="text-muted">Criado por <b>Érico Medeiros</b></p>
    </div>
  </footer>
</html>
